In [1]:
import pandas as pd
import numpy as np

In [2]:
r1=pd.read_csv(r'UMAP_result.csv')
r1.head()

       repeater  UMAP_HDBSCAN
0  non-repeater           0.0
1  non-repeater          -1.0
2  non-repeater           0.0
3  non-repeater           0.0
4  non-repeater          -1.0

In [3]:
r2=pd.read_csv(r'PCA_result.csv')
r2.head()

       tns_name      repeater  PCA_K-means
0  FRB20180725A  non-repeater           -1
1  FRB20180727A  non-repeater           -1
2  FRB20180729A  non-repeater            1
3  FRB20180729B  non-repeater           -1
4  FRB20180730A  non-repeater           -1

In [4]:
r3=pd.read_csv(r't-SNE_result.csv')
r3.head()

       tns_name      repeater  T-SNE_HDBSCAN
0  FRB20180725A  non-repeater            0.0
1  FRB20180727A  non-repeater           -1.0
2  FRB20180729A  non-repeater            0.0
3  FRB20180729B  non-repeater            0.0
4  FRB20180730A  non-repeater           -1.0

In [5]:
frb=pd.concat([r2,r1[['UMAP_HDBSCAN']],r3['T-SNE_HDBSCAN']],axis=1)
frb.head()

       tns_name      repeater  PCA_K-means  UMAP_HDBSCAN  T-SNE_HDBSCAN
0  FRB20180725A  non-repeater           -1           0.0            0.0
1  FRB20180727A  non-repeater           -1          -1.0           -1.0
2  FRB20180729A  non-repeater            1           0.0            0.0
3  FRB20180729B  non-repeater           -1           0.0            0.0
4  FRB20180730A  non-repeater           -1          -1.0           -1.0

In [6]:
frb.to_csv(r'Result.csv',index=False)